footer.footer
    .footer__row.container
        .footer__column.footer__column--column
            a.footer__link(href="index.html")
                img(src="img/logo-footer.png", alt="logo")
            p.footer__text &copy; Webim 2008-2017
            p.footer__text Все права защищены
        .footer__column.footer__column--row
            .footer__column
                a.footer__tel-link.footer__tel-link--size(href="tel:+78005004932")
                    span
                        svg(width="14" height="12" fill="#393e6b")
                            use(xlink:href="#icon-tel")
                    |+7(800)500-49-32
                a.footer__tel-link(href="tel:+74993223754") +7(499)322-37-54
                p.footer__text.footer__text--size Москва, Серебряническая набережная, 29
                a.footer__tel-link(href="tel:+78123855337") +7(812)385-53-37
                p.footer__text.footer__text--size Санкт-Петербург, Чкаловский проспект, 15
            .footer__column
                .footer__link(href="mailto:contact@webim.ru") contact@webim.ru
                .footer__link(href="mailto:sales@webim.ru") sales@webim.ru
                p.footer__text.footer__text--time понедельник - пятница с 10.00 - 18.00
                ul.footer__list
                    li.footer__item
                        a.footer__social-link(href="#" aria-label="icon-vk")
                            svg(width="26" height="23")
                                use(xlink:href="#icon-vk")
                    li.footer__item
                        a.footer__social-link(href="#" aria-label="icon-fb")
                            svg(width="8" height="17")
                                use(xlink:href="#icon-fb")
                    li.footer__item
                        a.footer__social-link(href="#" aria-label="icon-twitter")
                            svg(width="20" height="20")
                                use(xlink:href="#icon-twitter")
                    li.footer__item
                        a.footer__social-link(href="#" aria-label="icon-skype")
                            svg(width="20" height="20")
                                use(xlink:href="#icon-skype")

