header.header
    .container.header__row
        .header__column
            .header__column
                ul.header__list
                    li.header__item
                        a.header__link(href="#") Вход
                    li.header__item
                        a.header__link(href="#") Регистрация
                nav.header__nav
                    ul.header__list
                        li.header__nav-item
                            a.header__link(href="#") Возможности
                        li.header__nav-item
                            a.header__link(href="#") Тарифы
                        li.header__nav-item
                            a.header__link(href="#") Партнёрам
                        li.header__nav-item
                            a.header__link(href="#") Помощь
            a.header__logo(href="index.html")
                img(src="img/logo.png", alt="logo")
            button.header__hamburger.hamburger(type="button")
                span.hamburger__bar.hamburger__bar--bar1
                span.hamburger__bar.hamburger__bar--bar2
                span.hamburger__bar.hamburger__bar--bar3
                span.hamburger__bar.hamburger__bar--bar4





