.h1 {
    margin: 0;

    font-family: $ubuntu;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    color: $primary-color-1;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}


@media(max-width:$tablet-width) {
    .h1 {
        font-size: 48px;
        letter-spacing: 0.043em;
    }
}

@media(max-width:$mobile-width) {
    .h1 {
        font-size: 33px;
    }
}
