$ubuntu: "Ubuntu", "Arial", sans-serif;

$black: #333333;
$white: #ffffff;

$primary-color: #393e6b;

$secondary-color: #89AEFF;

$transition: all 0.5s ease-in;

$tablet-width: 900px;

$desktop-width: 1250px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
