section.main__section.additional
    .additional__row.section-row.container
        .additional__column
            h2.additional__caption.h2 Выгода от партнерства
            p.additional__text.slide-text
                |работники формируют свой будущий капитал совместными усилиями с компанией Татнефть на паритетных условиях, а Национальный НПФ ежегодно увеличивает эти накопления
            button.additional__button.button.js-block-btn(type="button" data-block="additional") Далее
        .additional__column.additional__column--row
            img.additional__man(src="img/anna-1.png", alt="anna")
            ul.additional__list
                li.additional__item
                    span
                        svg(width="21" height="27" fill="none")
                            use(xlink:href="#icon-list-1")
                    p.additional__text.slide-text Доходность выше инфляции в долгосрочном периоде
                li.additional__item
                    span
                        img(src="img/icon-list-2.png", alt="icon-list-2")
                    p.additional__text.slide-text Возможность забрать 100% собственных взносов в любой момент
                li.additional__item
                    span
                        svg(width="27" height="27" fill="none")
                            use(xlink:href="#icon-list-3")
                    p.additional__text.slide-text Отсутствие налога, который вводится по вкладам свыше 1 млн руб. (102-ФЗ) с 2021 года
                li.additional__item
                    span
                        svg(width="21" height="27" fill="none")
                            use(xlink:href="#icon-list-4")
                    p.additional__text.slide-text Капитал защищен при имущественных спорах: ваши взносы не подлежат аресту, разделу и взысканию
                li.additional__item
                    span
                        svg(width="29" height="29" fill="none")
                            use(xlink:href="#icon-list-5")
                    p.additional__text.slide-text Возможность завещать накопленный капитал (правопреемство)
        button.additional__btn-prev.prev-button.js-block-btn(type="button" data-block="additional")
            svg(width="18" height="8")
                use(xlink:href="#icon-arrow-prev")
            |назад
