section.main__section.after
    .container
        h2.after__caption.h2.js-caption ЧТО ВАС ЖДЕТ ПОСЛЕ УСТАНОВКИ
        p.after__text-top.section-text
            |Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет
        ul.after__list
            li.after__item
                svg(width="75" height="75" fill="#2cd3b8")
                    use(xlink:href="#icon-step_01")
                p.after__text
                    span Шаг 1.
                    |&#32;Создание учетной записи компании и администратора
            li.after__item
                svg(width="75" height="75" fill="#2cd3b8")
                    use(xlink:href="#icon-step_02")
                p.after__text
                    span Шаг 2.
                    |&#32;Активация учетной записи
            li.after__item
                svg(width="75" height="75" fill="#2cd3b8")
                    use(xlink:href="#icon-step_03")
                p.after__text
                    span Шаг 3.
                    |&#32;Активация учетной записи
            li.after__item
                svg(width="75" height="75" fill="#2cd3b8")
                    use(xlink:href="#icon-step_04")
                p.after__text
                    span Шаг 4.
                    |&#32;Установка кнопки Webim на сайт
            li.after__item
                svg(width="75" height="75" fill="#2cd3b8")
                    use(xlink:href="#icon-step_05")
                p.after__text
                    span Шаг 5.
                    |&#32;Регистрация оператора
            li.after__item
                svg(width="75" height="75" fill="#2cd3b8")
                    use(xlink:href="#icon-step_06")
                p.after__text
                    span Шаг 6.
                    |&#32;Тест сервиса
        ul.after__btn-list
            li.after__btn-item
                a.after__button.button(href="#") Все возможности Webim
            li.after__btn-item
                a.after__button.after__button--color.button(href="#") Протестировать бесплатно
