section.main__section.basic
    .container
        h1.basic__caption.h1.js-caption УСТАНОВКА WEBIM
        p.basic__text.section-text
            |Установка онлайн-консультанта Webim на&nbsp;ваш сайт не займет много времени.
            |Вы&nbsp;можете установить онлайн-консультант Webim на ваш сайт и протестировать
            |его&nbsp;в&nbsp;течение 7 дней бесплатно.
        ul.basic__list
            li.basic__item
                a.basic__link.button(href="#") ПОПРОБОВАТЬ БЕСПЛАТНО
            li.basic__item
                a.basic__link.basic__link--transparent.button(href="#") ТАРИФЫ

