section.main__section.benefit
    .benefit__row.section-row.container
        .benefit__column
            h2.benefit__caption.h2 Выгода от партнерства
            p.benefit__text.slide-text
                |работники формируют свой будущий капитал совместными усилиями с компанией Татнефть на паритетных условиях, а Национальный НПФ ежегодно увеличивает эти накопления
            p.benefit__text.slide-text
                strong Такой существенный взнос работодателя позволяет действительно накопить на достойную пенсию в будущем!
            button.benefit__button.button.js-block-btn(type="button" data-block="additional") Далее
        .benefit__column.benefit__column--row
            img.benefit__man(src="img/darma-4.png", alt="darma")
            table.benefit__table
                tr
                    th
                        strong Корпоративная пенсионная программа
                            button.benefit__text-button(type="button")
                                img(src="img/question-circle.png" alt="question-circle")
                    th
                    th
                        strong Банковский депозит
                            button.benefit__text-button(type="button")
                                img(src="img/question-circle.png" alt="question-circle")
                tr
                    td.benefit__td-top
                        span 3 000  ₽
                    td ваш ежемесяный взнос
                    td.benefit__td-top
                        span 3 000  ₽
                tr
                    td.benefit__td-white
                        span 3 000  ₽
                    td взнос компании Татнефть
                    td.benefit__td-white
                        span 0 ₽
                tr
                    td.benefit__td-green
                        span 7%
                    td инвестиционный доход
                    td.benefit__td-green
                        span 5%
                tr
                    td.benefit__td-white
                        span 65 200  ₽
                    td социальный налоговый вычет
                    td.benefit__td-white
                        span 0 ₽
                tr
                    td.benefit__td-green
                        span 2 018 404  ₽
                    td сумма накоплений
                    td.benefit__td-green
                        span 805 208  ₽
                tr
                    td.benefit__td-white
                        span 39 967  ₽
                    td дополнительная пенсия
                    td.benefit__td-white
                        span 15 195  ₽
        button.benefit__btn-prev.prev-button.js-block-btn(type="button" data-block="if-pension")
            svg(width="18" height="8")
                use(xlink:href="#icon-arrow-prev")
            |назад
