section.main__section.care
    .care__row.section-row.container
        .care__column
            h2.care__caption.h2 Позаботьтесь о пенсии с компанией Татнефть
            p.care__text.slide-text Сформируйте корпоративную пенсию в дополнение к государственной
            button.care__button.button.js-block-btn(type="button" data-block="how") Решение проблемы здесь
        .care__column.care__column--row
            img(src="img/darma-3.png", alt="darma")
            p.care__text.slide-text
                |Государственной пенсии недостаточно, чтобы жизнь после
                |завершения трудовой деятельности была комфортной
            img(src="img/anna-2.png", alt="anna")
        button.care__btn-prev.prev-button.js-block-btn(type="button" data-block="start")
            svg(width="18" height="8")
                use(xlink:href="#icon-arrow-prev")
            |назад
