section.main__section.code
    .container
        h2.code__caption.h2.js-caption УСТАНОВКА HTML&#65279;-&#65279;КОДА
        ul.code__list
            li.code__item
                a.code__link.link(href="#") Установка HTML-кода Webim для сайтов на Joomla
                p.code__text.section-text
                    |Документация по внедрению сервиса Webim на сайтах, построенных на базе CMS Joomla.
            li.code__item
                a.code__link.link(href="#") Установка HTML-кода Webim для сайтов на Wordrpess
                p.code__text.section-text
                    |Документация по внедрению сервиса Webim на сайтах, построенных на базе Wordrpess.
            li.code__item
                a.code__link.link(href="#") Установка HTML-кода Webim для сайтов на uCoz.ru
                p.code__text.section-text
                    |Документация по внедрению сервиса Webim на сайтах, построенных на базе uCoz.ru.
            li.code__item
                a.code__link.link(href="#") Установка HTML-кода Webim для сайтов на webasyst.ru
                p.code__text.section-text
                    |Документация по внедрению сервиса Webim на сайтах, построенных на базе webasyst.ru.
            li.code__item
                a.code__link.link(href="#") Установка HTML-кода Webim для любого сайта
                p.code__text.section-text
                    |Документация по внедрению сервиса Webim на сайтах с другой CMS или написанных вручную.

