section.main__section.code.code--bottom
    .container
        h2.code__caption.code__caption--bottom.h2.js-caption
            |УСТАНОВКА ПРИЛОЖЕНИЯ<br>
            |ДЛЯ ОПЕРАТОРОВ WEBIM DASHBOARD
        p.code__text.code__text--bottom.section-text
            |Чтобы быть на связи с клиентами всегда, установите приложение Webim Dashboard
        ul.code__list.code__list--bottom
            li.code__item.code__item--bottom
                a.code__link.link(href="#") Установка приложения Webim Dashboard для iPhone
                p.code__text.section-text
                    |Документация по установке дополнительного программного обеспечения для операторов 
                    |<strong>сервиса Webim</strong>, использующих iPhone/iPad/etc от компании Apple.
            li.code__item.code__item--bottom
                a.code__link.link(href="#") Установка приложения Webim Dashboard для Android
                p.code__text.section-text
                    |Документация по установке дополнительного программного обеспечения для операторов 
                    |<strong>сервиса Webim</strong>, использующих платформу Google Android.
            li.code__item.code__item--bottom
                a.code__link.link(href="#") Установка приложения Webim Dashboard для Ubuntu
                p.code__text.section-text
                    |Документация по установке дополнительного программного обеспечения для операторов 
                    |<strong>сервиса Webim</strong>, использующих платформу Ubuntu.
            li.code__item.code__item--bottom
                a.code__link.link(href="#") Установка приложения Webim Dashboard
                p.code__text.section-text
                    |Документация по установке дополнительного программного обеспечения для операторов 
                    |<strong>сервиса Webim</strong> под ОС Microsoft Windows.
            li.code__item.code__item--bottom
                a.code__link.link(href="#") Создание приложения Webim для Mac OS
                p.code__text.section-text
                    |Пошаговая инструкция создания приложения для оператора Webim для Mac OS с помощью Fluid

