section.main__section.how
    .how__row.section-row.container
        .how__column
            h2.how__caption.h2 Как формируется корпоративная пенсия
            p.how__text.slide-text Татнефть поможет вам сформировать достойный капитал, а  Национальный НПФ (Фонд) приумножит его
            button.how__button.button.js-block-btn(type="button" data-block="comparison") Далее
        .how__column.how__column--row
            img(src="img/darma-4.png", alt="darma")
            .how__column
                p.how__list-caption Принцип софинансирования
                ul.how__list
                    li.how__item.slide-text
                        img(src="img/check.png", alt="check")
                        |вы перечисляете комфортный взнос
                    li.how__item.slide-text
                        img(src="img/check.png", alt="check")
                        |работодатель удваивает его
                        button.how__text-button(type="button")
                            img(src="img/question-circle.png" alt="question-circle")
                    li.how__item.slide-text
                        img(src="img/check.png", alt="check")
                        |государство предоставляет социальный налоговый вычет
                        button.how__text-button(type="button")
                            img(src="img/question-circle.png" alt="question-circle")
                    li.how__item.slide-text
                        img(src="img/check.png", alt="check")
                        |Фонд начисляет доход
            img(src="img/anna-3.svg", alt="anna")
        button.how__btn-prev.prev-button.js-block-btn(type="button" data-block="care")
            svg(width="18" height="8")
                use(xlink:href="#icon-arrow-prev")
            |назад
