section.main__section.comparison
    .comparison__row.section-row.container
        .comparison__column
            h2.comparison__caption.h2 Если вы копите на банковском вкладе
            p.comparison__text.slide-text
                |вы лишаете себя возможности увеличить пенсию за счет взносов работодателя и социального налогового вычета от государства
            button.comparison__button.button.js-block-btn(type="button" data-block="if-pension") Далее
        .comparison__column.comparison__column--row
            img.comparison__man(src="img/darma-4.png", alt="darma")
            .comparison__column
                img.comparison__bag-img(src="img/min-bag.png", alt="min-bag")
                p.comparison__cash 805 208 ₽
                p.slide-text
                    |составят ваши накопления при отчислениях 3 000 руб.
                    |в месяц в течение 15 лет и средней годовой ставке 5%
                    button.comparison__text-button(type="button")
                        img(src="img/question-circle.png" alt="question-circle")
                    |&nbsp;по договорам банковского вклада
        button.comparison__btn-prev.prev-button.js-block-btn(type="button" data-block="how")
            svg(width="18" height="8")
                use(xlink:href="#icon-arrow-prev")
            |назад
