section.main__section.comparison
    .comparison__row.section-row.container
        .comparison__column
            h2.comparison__caption.h2 Если вы участвуете в корпоративной пенсионной программе
            p.comparison__text.slide-text
                |Татнефть удвоит ваши отчисления, Фонд начислит на них доход, а государство предоставит социальный налоговый вычет
            button.comparison__button.button.js-block-btn(type="button" data-block="benefit") Далее
        .comparison__column.comparison__column--row
            img.comparison__man(src="img/darma-4.png", alt="darma")
            .comparison__column
                img.comparison__bag-img(src="img/min-bag.png", alt="min-bag")
                img.comparison__bag-img(src="img/bag.png", alt="bag")
                p.comparison__cash 2 018 404 ₽
                p.slide-text
                    |составят ваши накопления при отчислениях 3000 руб. в месяц в течение 15 лет и средней годовой доходности Фонда 7%
                    button.comparison__text-button(type="button")
                        img(src="img/question-circle.png" alt="question-circle")
                    |&nbsp;с учетом реинвестирования социального налогового вычета
        button.comparison__btn-prev.prev-button.js-block-btn(type="button" data-block="if-bank")
            svg(width="18" height="8")
                use(xlink:href="#icon-arrow-prev")
            |назад
