section.main-slide
    .main-slide__row.container
        .main-slide__column
            h1.main-slide__caption.h2 Корпоративная пенсионная программа Татнефть
            p.main-slide__text.slide-text Ваша возможность сформировать и приумножить капитал на пенсию и крупные финансовые цели
        .main-slide__column
            img.main-slide__woman(src="img/anna-1.png", alt="anna-1")
            img.main-slide__plant(src="img/plant.svg", alt="plant")
        .main-slide__column
            button.main-slide__btn.button.js-block-btn(type="button" data-block="goals") Начнем?

