nav.nav.js-block.js-block-inactive
    ul.nav__list
        li.nav__item
            button(type="button" data-block="goals").nav__button.nav__button--active.button Зачем нужна программа
        li.nav__item
            button(type="button" data-block="how").nav__button.button Как работает программа
        li.nav__item
            button(type="button").nav__button.button Посчитать
        li.nav__item
            button(type="button").nav__button.button Как вступить в программу
