section.main__section.setup
    .container
        h2.setup__caption.h2.js-caption ПРОСТАЯ УСТАНОВКА
        p.setup__text.section-text
            |Установка онлайн-консультанта Webim не займет более 15 минут
        ul.setup__list
            li.setup__item
                span 1
                svg(width="50" height="50" fill="#363B66")
                    use(xlink:href="#icon-01")
                a.setup__link.link(href="#") Регистрация
            li.setup__item
                span 2
                svg(width="50" height="50" fill="#363B66")
                    use(xlink:href="#icon-02")
                a.setup__link.link(href="#") Установка HTML-кода

