section.main__section.social
    .container
        h2.visually-hidden Заголовок
        p.social__text
            |Webim – это не только онлайн-консультант. Интегрируйте и другие каналы,
            |чтобы клиенты могли обращаться к вам любым удобным способом
        ul.social__list
            li.social__item
                svg(width="40" height="40")
                    use(xlink:href="#icon-sn")
                a.social__link.link Социальные сети
            li.social__item
                svg(width="40" height="40")
                    use(xlink:href="#icon-feedback")
                a.social__link.link Форма обратной связи
            li.social__item
                svg(width="40" height="40")
                    use(xlink:href="#icon-app")
                a.social__link.link Чат в вашем мобильном&nbsp;приложении
            li.social__item
                svg(width="40" height="40")
                    use(xlink:href="#icon-msn")
                a.social__link.link Мессенджеры
            li.social__item
                img(src="img/icon-yad.svg", alt="icon-yad" width="40" height="40")
                a.social__link.link Яндекс.Диалоги
            li.social__item
                img(src="img/icon-email.svg", alt="icon-email" width="40" height="40")
                a.social__link.link Электронная почта
            li.social__item
                svg(width="40" height="40")
                    use(xlink:href="#icon-chatbots")
                a.social__link.link Чат-боты









