section.main__section.start
    .start__row.section-row.container
        .start__column
            h2.start__caption.h2 Начните копить&nbsp;на дополнительную пенсию сейчас
            p.start__text.slide-text и сохраняйте привычный образ жизни после прекращения трудовой деятельности
            button.button.js-block-btn(type="button" data-block="care") Далее
        .start__column.start__column--row
            img(src="img/darma-1.png", alt="darma-1")
            p.start__text.start__text--right.slide-text
                span
                    |>
                    span 50
                    |%
                |от суммы заработной платы должна составлять пенсия для сохранения привычного уровня жизни
        button.start__btn-prev.prev-button.js-block-btn(type="button" data-block="goals")
            svg(width="18" height="8")
                use(xlink:href="#icon-arrow-prev")
            |назад
